<table class="table">
  <tr class="table__head">
    <th class="table__payment-name">Наименование платежа</th>
    <th class="table__payment-cost">Стоимость</th>
    <th *ngFor="let month of months">{{ month }}</th>
    <th>Удалить</th>
  </tr>

  <tr class="table__row"*ngFor="let payment of payments; odd as even" [class.table__row-even]="even">
    <td>{{ payment.name }}</td>
    <td>{{ payment.cost }}</td>
    <td *ngFor="let month of months, let i = index">
      <input class="table__checkbox" type="checkbox" (change)="changeMonthCost(payment.id, i + 1)">
    </td>
    <td>
      <button class="table__remove-button" (click)="delete(payment.id)">+</button>
    </td>
  </tr>

  <tr *ngIf="!payments.length">
    <td colspan="15">Добавьте платежи...</td>
  </tr>
</table>

<div class="counter">Израсходовано средств: <span class="counter__total">{{ totalCost }}</span></div>
